<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiton.mapper.UserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		user_id AS userId, user_name AS userName, password, grade, register_time AS registerTime, end_vip_time AS endVipTime, vip_status AS vipStatus, phone, gold, mark, account_type AS accountType, reflect_account AS reflectAccount
	</sql>

</mapper>